.principal{
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agenda{
    width: 80rem;
    height: 22rem;
    position: relative;
    
    background-color: aqua;    
}
.calendario{
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: 4%; 
}
.areaCalendario{
    width: 100%;    
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.dias{
    width: 100%;
    height: 80%;
}
.areaDias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: gray;
    box-shadow: 1px 2px 6px black;
    border-radius: 10px;    
}

.dia{
    width: 14%;
    height: 80%;
    background-color: aliceblue;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 6px black;
}
.areaDia{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tituloAgenda{
    width: 24rem;
    height: 4rem;
    margin: auto;
    left: 0;
    right: 0;
}
.areaTituloAgenda{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloDia{
    font-size: 0.9rem;
}
.btnMarcacao{
    position: absolute;
    bottom: 22%;
}
.meses{
    width: 64%;
    height: 1rem;
    
    margin-bottom: 0.01rem;
    
    border-radius: 1px 2px 2px black;
}
.areaMeses{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.68rem;
    background-color: #ddd;
    justify-content: center;
    border-radius: 10px 10px 0  0;
    

}

.mes>h1{
    font-size: 0.8rem;
    color:#000;
    border: 1px solid #000;
    padding: 0 2px  0 2px ;

}
.borderRadiusEsquerda{
    border-radius: 10px 0 0 0;
}
.borderRadiusDireita{
    border-radius: 0  10px 0  0 ;
}
.mes>h1:hover{
    cursor: pointer;
    background-color: gray;
    color: #fff;
}
.semanas{
    width: 1rem;
    height:1rem;
    background-color: #ddd;
    position: absolute;
    bottom: -10px;
}
.areaSemanas{

}